# Environment
.env
.env.local

# Dependencies
node_modules/
vendor/

# Builds
build/
dist/
*.exe

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Logs
*.log
